
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr class="success">
        <th>字段别名</th>
        <th>字段含义</th>
        <th>字段类型</th>
        <th>备注说明</th>
        <th>快捷操作</th>
    </tr>
    </thead>
    <tbody>
    {{foreach $response_fields as $response_field}}
    <tr class="{{if $response_field.level == 1}}warning{{/if}}">

        <td style="text-align: left;padding-left: 50px;">{{$response_field.delimiter}}{{if $response_field.parent_id}}└{{/if}}{{$response_field.name}}</td>
        <td>{{$response_field.title}}</td>
        <td>{{\app\field::get_type_list({{$response_field.type}})}}</td>

        <td style="width: 50%;">{{$response_field.intro}}</td>

        <td style="text-align: left;padding-left: 30px;">

            <a href="javascript:void(0);" class="fa fa-pencil js_addResponseFieldBtn" data-title="编辑返回参数" data-id="{{$api.id}}-{{$response_field.parent_id}}-{{$response_field.id}}"></a>

            <a href="javascript:void(0);" class="fa fa-trash-o js_deleteFieldBtn" data-title="删除参数" data-id="{{$response_field.id}}"></a>

            {{if in_array($response_field.type, ['array', 'object'])}}
            <a href="javascript:void(0);" class="fa fa-plus js_addResponseFieldBtn" data-title="添加返回参数" data-id="{{$api.id}}-{{$response_field.id}}-0"></a>
            {{/if}}

        </td>

    </tr>
    {{/foreach}}

    </tbody>
</table>